header{
    margin: 0;
}

/*body {
    background-image: linear-gradient(#222223, #414141);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}*/